body{
  font-family: 'Nunito', sans-serif;
  color:#797676f7;
  font-size: 20px;
}
.wrapper{
  max-width: 1380px;
	padding: 1rem 2rem;
	margin: auto;
}

h1,h2,h3,h4{
  font-family: 'Pacifico';
  margin: 0;
  color: #F14091;
}
h5{
  margin: 0px;
  margin: 0px;
  color: black;
  font-weight: bold;
}

h2{
  font-size: 50px;
}

/*.... header ....*/

// .navbar ul li{
//   margin-left: 72px;
// }

// .navbar{
//     padding: 10px 0px;
//     padding: 10px 0px;
//     display: flex;
//     justify-content: space-between;
// }

// .navbar ul{
//   display: flex;
//   list-style: none;
//   margin: 0;
  
// }

//  .navbar ul a{
//    text-transform: uppercase;
//    font-size: 20px;
//    color: #F14091;
//    font-family: 'Pacifico';
//    text-decoration: none;
//  }

//  a.active, a:hover{
//    transition: .5s;
//  }

nav{
  width: 100%;
  height: 80px;

  label{
    line-height: 80px;
  }

  ul {
    float: right;
    margin:0 20px 0 0px;
  }

  ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
  }

  ul li a{
    font-size: 20px;
    color: #F14091;
    font-family: 'Pacifico';
    text-decoration: none;
  }

  .checkbtn{
    font-size: 30px;
    color: #F14091;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }
}


/*.... home page main slider ....*/

.slider{
  display: flex;
  justify-content: space-between;
}

.slider-text{
  border: solid 5px #F14091;
  width: 45%;
  text-align: center;
  padding: 149px 60px;
  border-top-left-radius: 196px;
  border-right: none;
}

.slider-text h1{
  font-size: 70px;
  margin: 0;
}

.slider-button .slider_shop_now_btn, .slider-button .slider_read_more_btn, .welcome_read_more_btn, .welcome_more_detail_btn, .os-more-detail-btn, .op-read-more-btn, .our-price-btn{
  padding: 15px 55px;
  border: solid 1px #F14091;
  border-radius: 30px;
  color: white;
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
}

.slider-button .slider_shop_now_btn, .welcome_more_detail_btn, .os-more-detail-btn, .op-read-more-btn, .our-price-btn{
  background-color: #F14091;
}

.slider-button .slider_read_more_btn, .welcome_read_more_btn{color: #F14091; background-color: white;}

.slider-image{
  width: 44%;
}

.slider-image{
  background-size: cover !important;
  border-bottom-right-radius: 196px !important;
}

/*.... welcome component ....*/

.sbg-image, .bg-image2, .bg-image3{
  width: 450px;
  position: absolute;
  margin-top: -152px;
}

.welcome-section{
    text-align: center;
    padding: 85px 260px 0px 260px;
}

.welcome-section h1{
  font-size: 50px;  
}

.welcome-description{
  padding: 0px 46px;
  text-align: center;
  margin: 0px;
}

.welcome-images{
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.welcome-card-image{
  text-align: center;
  border: solid;
  border-bottom-right-radius: 166px;
  border-top-left-radius: 166px;
  padding: 30px;
  border-color: #F14091;
}


.welcome-images .welcome-card-image{
  img{
    width: 168px;
  }
}

.welcome-card-description{
  margin-top: 35px;
  
  h5, p{
    text-align: center;
    margin: 0;
  }

  p{
    margin-top: 10px;
    font-size:18px;
  }

  h5{
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

}

.welcome-btn{
  padding: 40px 0;
  text-align: center;
}

/*....  Over services component ....*/

.over-services-heading{
  text-align: center;
}

.os-text-and-images
{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
} 
  
.os-description-and-images-card{
  display: flex;
  width: 59%;
}

.os-main-descriptions{
  width: 40%;
}

.os-small-images{
    width: 100px !important;
    height: 100px !important;
    background-size: cover !important;
    border: solid 1px #F14091 !important;
    border-bottom-right-radius: 40px !important;
    border-top-left-radius: 40px !important;
    margin: 20px !important;
}

.os-description-card
{
    background-size: cover !important;
    padding: 30px;
    text-align: center;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    
}
.card-description{

    padding: 166px !important;
    background-color: #f140917d  !important;
    border-bottom-right-radius: 200px !important;
    border-top-left-radius: 200px !important;

    h2, p{
      color: white;
    }
}

.os-description{
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li{
    margin: 15px;
  }

  ul li::before {
    content: "\2022";
    color: #F14091;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
}

.bg-image2{
  text-align: right;
  margin-left: 331px;
}

/*.... our featured product component ....*/ 

.our-product-description{
  text-align: center;
}

.our-products-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.op-card{
  height: 625px;
  border: solid 2px #f1409161;
  text-align: center;
  border-bottom-right-radius: 82px;

  .op-img{
    width: 100%;
    height: 400px;
    background-size: cover !important;
  }

  .op-name{
    font-family: 'Pacifico';
    margin: 0;
    color: #F14091;
    font-size: 30px;
  }

  .op-detail{
    padding: 0px 11px;

    p{
      margin: 11px;
    }

    .op-short-description{
      font-size: 15px;
    }
  }

  .op-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    margin: 15px 0;
    font-size: 25px;

    span, i{
      color: #F14091;
      font-weight: bold;
    }
  }
}

.op-btn{
  text-align: center;
  padding: 50px 0;
}

/*... Our pricing ...*/

.bg-img3{
  margin-left: -150px;
  margin-top: -20px;

  img{
    width: 340px;
  }
}

.our-pricing-description{
  text-align: center;
  padding: 30px 0px;
}

.our-pricing-cards{
  display: flex;
  justify-content: space-between;
}

.op-card2{
  width: 31%;
  height: 800px;
  border: solid 2px #f1409161;
  border-bottom-right-radius: 82px;

  .op-services{
    padding: 20px 111px;

    p{
      font-family: 'Pacifico';
      color: #F14091;
      font-size: 25px;
      

      span i{
        margin-right: 15px;
        color: black;
      }
    }
  }
   
  .op-img{
    width: 100%;
    height: 300px;
    background-size: cover !important;

    .op-price{
      max-width: 100%;
      padding: 78px;
      background: #f1409199;
      text-align: center;

      .op-p1{
        color: white;
        font-family: 'Pacifico';
        font-size: 23px;
        margin: 0;
      }

      .op-p2{
        color: white;
        margin: 6px;
        font-size: 67px;
        font-weight: bold;

        span{
          font-size: 35px;
        }
      }
    }
  }

  .our-price-btn-div{
    text-align: center;
  }
}

/*.... Testimonial  ....*/

.testimonial-description{
  text-align: center;
  padding: 36px 0;

  p{
    font-weight: bold;
  }
}

.testimonial-client-review
{
  text-align: center;

img{
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    width: 300px;
}

.client-review{
  padding: 0px 20px;
  

  h5{
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding: 10px 0px;
  }

  p{
    margin: 0;
    padding: 18px 250px;
  }

  i{
    color: #F14091;
    padding: 10px 0px;
    margin-right: 5px;
  }
}
}

/*.... Footer ....*/

.footer{
  background: #f140910f;
  padding: 20px 0 0 0;;
}

.logo-and-newsletter
{
  text-align: center;

h2{
  font-size: 40px;
}

  form{

    input{
      padding: 10px 18px;
      width: 490px;
      height: 30px;
      border: solid 2px #F14091;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: -1px 8px 20px 0px #827c7c73;
    }

    button{
      padding: 9px 28px;
      position: absolute;
      margin-left: -104px;
      margin-top: 11px;
      border: none;
      background-color: #F14091;
      color: white;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
    }
  } 
}

.footer-detail{
    display: flex;
    padding: 50px 0 0 0;
    justify-content: space-between;

    .f-address{
      p{
        width: 200px;
      }
    }

    .f-contact-info, .f-opening-hour{
      p{
        margin: 6px 0; 
        font-size: 14px;
      }

      div{
        margin: 14px 0px;
      }
    }

    .f-quick-links, .f-information{

      ul{
        margin: 0;
        padding: 0;
      }

      ul li{
        margin: 14px 0; 
        font-size: 16px;
        list-style-type: none; font-size: 14px;
      }
    }

    .separation-line{
      border: solid 1px #f1409159;
    }

    .f-contact-us{
      form{
        display: flex;
        flex-direction: column;
        
        input, textarea{
          width: 355px;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border: solid 2px #f14091c4;
          font-size: 12px;
          padding: 6px;
          margin:7px 0;

        }

        input{
          height: 35px;
          box-shadow: -1px 8px 20px 0px #827c7c73;
        }

        textarea{
          height: 70px;
        }

        button{
          padding: 12px;
          font-weight: bold;
          border: none;
          background: #f14091;
          color: white;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }

}
  .footer-copyright{
    background: #f14091de;
    color: white;

    .end-div{
      max-width: 1380px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright{
        p{
          margin: 5px;
          font-size: 14px;
        }
      }

    .social-links{
      display: flex;
      align-items: center;

      h5, i{
        color: white;
        margin: 0 10px;
      }
    }
  }
}

/*... Media quries ...*/

@media (max-width: 946px){

  /*... header media quries ...*/

  nav{

    label.logo{
      padding-left: 50px;
    }

    ul li a{
      font-size: 16px;
    }
  }

  .slider-text{
    padding: 10px 35px;
  }

}


@media (max-width: 1120px) {

  /*.... Hero section ....*/

  .slider-text
  {
    padding: 50px 35px;
  }

}

@media (max-width: 858px){
  
  /*... header media quries ...*/

  nav{
    .checkbtn{
      display: block;
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -115%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }

    ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    ul li a{
      font-size: 20px;
    }

    a:hover,a.active{
      background: none;
    }

    #check:checked ~ ul{
      left: 0;
      padding: 0;
    }
  }

  .slider-text {
    h1 {
      font-size: 50px;
    }
    p{
      font-size: 14px;
    }
  }
}

@media (max-width:411px){

  .slider-text h1 {
      font-size: 26px;
  }
  
  .slider-text p {
      font-size: 11px;
  }
  
  .slider-button .slider_shop_now_btn, .slider-button .slider_read_more_btn, .welcome_read_more_btn, .welcome_more_detail_btn, .os-more-detail-btn, .op-read-more-btn, .our-price-btn {
      padding: 7px 15px;
      font-size: 10px;
  }
  
  .slider-text {
      padding: 5px 11px;
  }
  
  .slider-text {
      border-top-left-radius: 50px;  
  }
  
  .slider-image {
      border-bottom-right-radius: 50px !important;
  }

  .sbg-image, .bg-image2, .bg-image3 {
    width: 200px;
    position: absolute;
    margin-top: -72px;
}

.welcome-section {
  text-align: center;
  padding: 0;
  margin-top: 6rem;

  h2{
    font-size: 36px;
  }
  p{
    font-size: 16px;
  }
}

.welcome-description{
  p{
    font-size: 16px;
  }
}

.welcome-images {
   display: block;
}

.welcome-card-image {
  margin-top: 20px;
}

.over-services-heading{
  h2{
    font-size: 36px;
  }
}

.os-text-and-images {
  display: block;
  
}

.os-description-and-images-card {
   display: block; 
   width: 100%; 
}

.card-description {
  padding: 36px !important;
  border-bottom-right-radius: 120px !important;
  border-top-left-radius: 120px !important;

  h2{
    font-size: 36px;
  }

  p{
    font-size: 16px;
  }

}

.os-description-card {
  padding: 20px;
  border-bottom-right-radius: 120px;
  border-top-left-radius: 120px;
}

.os-images{
	display: flex;
}

.os-small-images {
    width: 300px !important;
    height: 56px !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    margin: 5px !important;
}

.os-main-descriptions {
  width: 100%;
}

.bg-image2 {
  margin-top: -131px !important;
  margin-left: 178px;
}

.our-products-cards{
  display: block;
}

.op-card .op-img {
  height: 352px;
}

.op-card{
  border-bottom-right-radius: 20px;
  margin-bottom: 1rem;
  height: 555px;
}

.op-card .op-price {
  padding: 0px 66px;
}

.bg-img3 {
  margin-left: -56px;
  margin-top: -106px;

  img {
    width: 200px;
}

}

.our-pricing-description {
  padding: 82px 0 0 0px;
}

.our-pricing-cards{
  display: block;
}

.op-card2{
  width: 100%;
  height: 696px;
  border-bottom-right-radius: 32px;
  margin-bottom: 1rem;

  .op-services {
    padding: 20px 69px;

    p{
      font-size: 20px;
    }
  }
}

.testimonial-client-review .client-review p {
  margin: 0;
  padding: 18px 0;
}

.logo-and-newsletter h2 {
  font-size: 21px;
}

.logo-and-newsletter form input {
  width: 300px;}

  .footer-detail {
    display: block;
}

.footer-detail .f-contact-us form input, .footer-detail .f-contact-us form textarea {
  width: 333px;
}

.footer-copyright .end-div {
  display: block;
  text-align: center;
}

.footer-copyright .end-div .social-links {
  justify-content: space-evenly;
}
}